body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
#nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #262626;
    height: 100%; 
    position: fixed;
    overflow: auto; 
    letter-spacing: 2px;
}
li a {
    display: block;
    color:  #9933ff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
li a:hover {
    background-color: #555;
    color: yellow;
}

.contents{
	width: 50%;
	position: relative;
	left: 27%;
	text-align: left;
}
h2{
	font-weight: bolder;
}
#profile{
	height: 300px;
	width: 60%;
	position: relative;
	left: 20%;
	padding-top: 40px;
	padding-bottom: 20px;
}
.works{
	height: 200px;
	width: 350px;
	border: solid #262626;
}
.individuals {
	text-decoration: none;
	color: #9933ff;
}
.showcase{
	height: 400px;
	width: 750px;
}